/LibraryManagementSystem_Group3/nbproject/private/
/LibraryManagementSystem_Group3/build/
/CHANGEV3/nbproject/private/
/LibraryManagementSystem/nbproject/private/
build/
dist/
*.class
nbproject/private/
LibraryManagementSystem/build/classes/model/BorrowingTransaction.class
LibraryManagementSystem/nbproject/private/private.xml
LibraryManagementSystem/build/classes/Service/implement/BorrowingService.class
LibraryManagementSystem/nbproject/private/private.xml
LibraryManagementSystem/nbproject/private/private.xml
